<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="cuentastorage"
         value="UseDevelopmentStorage=true"/>-->
    <add key="cuentastorage" value="DefaultEndpointsProtocol=https;AccountName=storagetajamarjgd;AccountKey=3C4r5IydJ9koTw5n0HQ78F+1OnL0tQsBElQsVCKQIMeT4qR+9clsGVH6AjmrxL2ZpzZMnrAMs7bYMZzFuxzHCA==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>